<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>web_page_2</title>
    <link rel="stylesheet" href="/web_pages/web_page2/web_page_2.css" />
  </head>
  <body onload="load()">
    <header>
      <nav class="content-center">
        <img src="/web_pages/web_page2/logo(1).png" alt="logo" height="40" />
        <div class="d-flex nav-div">
          <ul class="d-flex">
            <li><a href="#hosting">Hosting</a></li>
            <li><a href="#integation">Integation</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#community">Community</a></li>
            <li><a href="#help">Help</a></li>
            <li><a href="#" class="btn-nav">Log in</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="section d-flex" style="background-color: #f0f6ff">
      <div style="margin: auto 0; padding: 80px 50px">
        <h1 style="font-size: 80px">Hosting services for Your Website</h1>
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quis
          necessitatibus corrupti, aliquam eos, deleniti sint hic perferendis
          modi, veritatis debitis consequuntur enim repudiandae. Voluptate
          suscipit ab minus omnis inventore.
        </h4>
        <div style="padding: 20px 0">
          <button class="orange-btn">Get started</button>
          <button class="white-btn">Get Migration Help</button>
        </div>
      </div>
      <div>
        <img
          src="/web_pages/web_page2/portrait-confident-bearded-man-using-laptop-computer 1.png"
          alt="img"
        />
      </div>
    </section>

    <section class="section d-flex">
      <h5 style="width: 150px; padding: 0 100px">
        Those who have Experienced The Best Perfomance
      </h5>
      <div style="display: flex; flex-direction: row; gap: 20px; height: 60px">
        <img src="/web_pages/web_page2/Telkom Indonesia Logo.png" alt="img" />
        <img src="/web_pages/web_page2/Jetstar Airways Logo.png" alt="img" />
        <img src="/web_pages/web_page2/Nescafe Logo.png" alt="img" />
        <img src="/web_pages/web_page2/Lenovo Logo.png" alt="img" />
      </div>
    </section>

    <section class="section d-flex">
      <img src="/web_pages/web_page2/Group 3552.png" alt="img" />
      <div style="width: auto">
        <div style="padding: 50px">
          <h3>Boost the Speed of Your Website</h3>
          <div class="text-container">
            <div class="text-grup">
              <h3>Faster Build Process</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Repellendus, eaque!
              </p>
            </div>
            <div class="text-grup">
              <h3>Faster Delivery</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Repellendus, eaque!
              </p>
            </div>
            <div class="text-grup">
              <h3>Faster Access Speed</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Repellendus, eaque!
              </p>
            </div>
            <div class="text-grup">
              <h3>24/7 Faster Service</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Repellendus, eaque!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="section"
      style="padding: 50px 100px; background-color: #f0f6ff"
    >
      <div>
        <h3 style="text-align: center; font-size: 40px; padding: 0 100px">
          Host any Website With Our Fully Managed Service
        </h3>
        <div class="service-div">
          <div class="service-div-part">
            <div class="service-div-part-sub-div">
              <h5>
                <img src="/web_pages/web_page2/cloud-sunny.png" alt="img" />
                Cloud Hosting
              </h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus illum praesentium voluptatum vitae nesciunt
                aperiam!
              </p>
            </div>
            <div style="padding: 0 20px">
              <h3>$5.9/month</h3>
              <button class="white-btn" style="margin: 15px 0">
                More Detail
              </button>
            </div>
          </div>
          <div class="service-div-part">
            <div class="service-div-part-sub-div">
              <h5>
                <img src="/web_pages/web_page2/buildings.png" alt="img" />
                Corporate
              </h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus illum praesentium voluptatum vitae nesciunt
                aperiam!
              </p>
            </div>
            <div style="padding: 0 20px">
              <h3>$19/month</h3>
              <button class="white-btn" style="margin: 15px 0">
                More Detail
              </button>
            </div>
          </div>
          <div class="service-div-part">
            <div class="service-div-part-sub-div">
              <h5>
                <img src="/web_pages/web_page2/driver.png" alt="img" />
                Cloud VPS
              </h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus illum praesentium voluptatum vitae nesciunt
                aperiam!
              </p>
            </div>
            <div style="padding: 0 20px">
              <h3>$29/month</h3>
              <button class="white-btn" style="margin: 15px 0">
                More Detail
              </button>
            </div>
          </div>
          <div class="service-div-part">
            <div class="service-div-part-sub-div">
              <h5>
                <img src="/web_pages/web_page2/monitor-mobbile.png" alt="img" />
                Dedication
              </h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus illum praesentium voluptatum vitae nesciunt
                aperiam!
              </p>
            </div>
            <div style="padding: 0 20px">
              <h3>$119/month</h3>
              <button class="white-btn" style="margin: 15px 0">
                More Detail
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section d-flex">
      <div style="width: 500px">
        <section class="hosting-lenguage-section" style="font-size: 22px">
          <div class="lenguage" onclick="clickfunc(this,'Wordpress')">
            <img
              src="/web_pages/web_page2/WordPress.com Logo.png"
              alt="img"
              style="padding: 0 15px"
            />Wordpress
          </div>
          <div class="lenguage" onclick="clickfunc(this ,'Magento')">
            <img
              src="/web_pages/web_page2/WordPress.com Logo.png"
              alt="img"
              style="padding: 0 15px"
            />Magento
          </div>
          <div class="lenguage" onclick="clickfunc(this,'Laravel')">
            <img
              src="/web_pages/web_page2/WordPress.com Logo.png"
              alt="img"
              style="padding: 0 15px"
            />Laravel
          </div>
          <div class="lenguage" onclick="clickfunc(this ,'Php')">
            <img
              src="/web_pages/web_page2/WordPress.com Logo.png"
              alt="img"
              style="padding: 0 15px"
            />PHP
          </div>
        </section>
      </div>
      <div id="Wordpress" class="lenguage-disc" style="padding: 20px 50px">
        <h4 style="font-size: 50px">
          The Best Managed Cloud Hosting for Word Press
        </h4>
        <p style="margin: 10px 0; font-size: 15px">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          nostrum delectus soluta mollitia eius officia, fugiat tempora
          voluptatum provident consequatur facere explicabo fuga cupiditate
          ducimus suscipit eligendi animi eveniet quidem?
        </p>
        <div style="padding: 10px 50px">
          <p style="float: left; padding: 0 80px">
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Unlimited
            Bandwith
          </p>
          <p>
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Network
            Speed
          </p>
          <p style="float: left; padding: 0 138px 0 80px">
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Turbo Power
          </p>
          <p>
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Xtreme
            Freedom
          </p>
        </div>
        <button style="margin: 20px 10px" class="orange-btn">
          More Detail
        </button>
      </div>
      <div id="Magento" class="lenguage-disc" style="padding: 20px 50px">
        <h4 style="font-size: 50px">
          The Best Managed Cloud Hosting for Magento
        </h4>
        <p style="margin: 10px 0; font-size: 15px">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          nostrum delectus soluta mollitia eius officia, fugiat tempora
          voluptatum provident consequatur facere explicabo fuga cupiditate
          ducimus suscipit eligendi animi eveniet quidem?
        </p>
        <div style="padding: 10px 50px">
          <p style="float: left; padding: 0 80px">
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Unlimited
            Bandwith
          </p>
          <p>
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Network
            Speed
          </p>
          <p style="float: left; padding: 0 138px 0 80px">
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Turbo Power
          </p>
          <p>
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Xtreme
            Freedom
          </p>
        </div>
        <button style="margin: 20px 10px" class="orange-btn">
          More Detail
        </button>
      </div>
      <div id="Laravel" class="lenguage-disc" style="padding: 20px 50px">
        <h4 style="font-size: 50px">
          The Best Managed Cloud Hosting for Laravel
        </h4>
        <p style="margin: 10px 0; font-size: 15px">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          nostrum delectus soluta mollitia eius officia, fugiat tempora
          voluptatum provident consequatur facere explicabo fuga cupiditate
          ducimus suscipit eligendi animi eveniet quidem?
        </p>
        <div style="padding: 10px 50px">
          <p style="float: left; padding: 0 80px">
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Unlimited
            Bandwith
          </p>
          <p>
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Network
            Speed
          </p>
          <p style="float: left; padding: 0 138px 0 80px">
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Turbo Power
          </p>
          <p>
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Xtreme
            Freedom
          </p>
        </div>
        <button style="margin: 20px 10px" class="orange-btn">
          More Detail
        </button>
      </div>
      <div id="Php" class="lenguage-disc" style="padding: 20px 50px">
        <h4 style="font-size: 50px">The Best Managed Cloud Hosting for PHP</h4>
        <p style="margin: 10px 0; font-size: 15px">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          nostrum delectus soluta mollitia eius officia, fugiat tempora
          voluptatum provident consequatur facere explicabo fuga cupiditate
          ducimus suscipit eligendi animi eveniet quidem?
        </p>
        <div style="padding: 10px 50px">
          <p style="float: left; padding: 0 80px">
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Unlimited
            Bandwith
          </p>
          <p>
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Network
            Speed
          </p>
          <p style="float: left; padding: 0 138px 0 80px">
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Turbo Power
          </p>
          <p>
            <img src="/web_pages/web_page2/Vector.png" alt="img" /> Xtreme
            Freedom
          </p>
        </div>
        <button style="margin: 20px 10px" class="orange-btn">
          More Detail
        </button>
      </div>
    </section>

    <section class="section">
      <div style="width: 1200px">
        <h3>
          How our customers Feel About Us
          <img
            style="float: right"
            src="/web_pages/web_page2/arrow-right.png"
            alt="img"
            onclick="scrollleft()"
          />
          <img
            style="float: right; padding-left: 10px; transform: rotate(180deg)"
            src="/web_pages/web_page2/arrow-right.png"
            alt="img"
            onclick="scrollright()"
          />
        </h3>
        <div id="row" class="profile-section">
          <div class="profile-card">
            <div style="width: 160px">
              <div>
                <img src="/web_pages/web_page2/profile.png" alt="img" />
                <div>
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                </div>
              </div>
              <h5 style="margin: 10px 0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                reprehenderit.
              </h5>
              <div style="margin: 10px 0">
                <h4 style="color: black">Clay Harwkins</h4>
                <h5 style="margin: 10px 0">Manager</h5>
              </div>
            </div>
          </div>

          <div class="profile-card">
            <div style="width: 160px">
              <div>
                <img src="/web_pages/web_page2/profile.png" alt="img" />
                <div>
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                </div>
              </div>
              <h5 style="margin: 10px 0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                reprehenderit.
              </h5>
              <div style="margin: 10px 0">
                <h4 style="color: black">Clay Harwkins</h4>
                <h5 style="margin: 10px 0">Manager</h5>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div style="width: 160px">
              <div>
                <img src="/web_pages/web_page2/profile.png" alt="img" />
                <div>
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                </div>
              </div>
              <h5 style="margin: 10px 0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                reprehenderit.
              </h5>
              <div style="margin: 10px 0">
                <h4 style="color: black">Clay Harwkins</h4>
                <h5 style="margin: 10px 0">Manager</h5>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div style="width: 160px">
              <div>
                <img src="/web_pages/web_page2/profile.png" alt="img" />
                <div>
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                </div>
              </div>
              <h5 style="margin: 10px 0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                reprehenderit.
              </h5>
              <div style="margin: 10px 0">
                <h4 style="color: black">Clay Harwkins</h4>
                <h5 style="margin: 10px 0">Manager</h5>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div style="width: 160px">
              <div>
                <img src="/web_pages/web_page2/profile.png" alt="img" />
                <div>
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                </div>
              </div>
              <h5 style="margin: 10px 0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                reprehenderit.
              </h5>
              <div style="margin: 10px 0">
                <h4 style="color: black">Clay Harwkins</h4>
                <h5 style="margin: 10px 0">Manager</h5>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div style="width: 160px">
              <div>
                <img src="/web_pages/web_page2/profile.png" alt="img" />
                <div>
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                </div>
              </div>
              <h5 style="margin: 10px 0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                reprehenderit.
              </h5>
              <div style="margin: 10px 0">
                <h4 style="color: black">Clay Harwkins</h4>
                <h5 style="margin: 10px 0">Manager</h5>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div style="width: 160px">
              <div>
                <img src="/web_pages/web_page2/profile.png" alt="img" />
                <div>
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                </div>
              </div>
              <h5 style="margin: 10px 0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                reprehenderit.
              </h5>
              <div style="margin: 10px 0">
                <h4 style="color: black">Clay Harwkins</h4>
                <h5 style="margin: 10px 0">Manager</h5>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div style="width: 160px">
              <div>
                <img src="/web_pages/web_page2/profile.png" alt="img" />
                <div>
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                </div>
              </div>
              <h5 style="margin: 10px 0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                reprehenderit.
              </h5>
              <div style="margin: 10px 0">
                <h4 style="color: black">Clay Harwkins</h4>
                <h5 style="margin: 10px 0">Manager</h5>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div style="width: 160px">
              <div>
                <img src="/web_pages/web_page2/profile.png" alt="img" />
                <div>
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                </div>
              </div>
              <h5 style="margin: 10px 0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                reprehenderit.
              </h5>
              <div style="margin: 10px 0">
                <h4 style="color: black">Clay Harwkins</h4>
                <h5 style="margin: 10px 0">Manager</h5>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div style="width: 160px">
              <div>
                <img src="/web_pages/web_page2/profile.png" alt="img" />
                <div>
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                </div>
              </div>
              <h5 style="margin: 10px 0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                reprehenderit.
              </h5>
              <div style="margin: 10px 0">
                <h4 style="color: black">Clay Harwkins</h4>
                <h5 style="margin: 10px 0">Manager</h5>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div style="width: 160px">
              <div>
                <img src="/web_pages/web_page2/profile.png" alt="img" />
                <div>
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                  <img src="/web_pages/web_page2/Star 2.png" alt="img" />
                </div>
              </div>
              <h5 style="margin: 10px 0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                reprehenderit.
              </h5>
              <div style="margin: 10px 0">
                <h4 style="color: black">Clay Harwkins</h4>
                <h5 style="margin: 10px 0">Manager</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section d-flex" style="background-color: #f0f6ff">
      <div style="padding: 120px 100px; width: 700px">
        <h4 style="font-size: 30px; margin: 20px 0">
          Try it Now and Stop Doubting Anything Else
        </h4>
        <p style="padding: 20px 0">
          Withawan Hoster's Money Back Guarantee ,you cantry the best service
          relibility
        </p>
        <button class="orange-btn">Start Free Trail</button>
        <button class="white-btn">See All Plans</button>
      </div>
      <img
        src="/web_pages/web_page2/Group 1000008788.png"
        alt="img"
        height="500"
        width="500"
      />
    </section>

    <footer>
      <div class="d-flex">
        <div style="padding: 0 40px; width: 40vw">
          <div style="margin: 20px 0">
            <img
              src="/web_pages/web_page2/logo(1).png"
              alt="img"
              width="400"
              height="80"
            />
          </div>
          <h3 style="color: rgb(122, 138, 155)">
            We provide you with the best hosting solution for your web site
          </h3>
          <div class="icons">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-google"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"
              /></svg
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-twitter"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15"
              /></svg
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-linkedin"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"
              /></svg
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-facebook"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-youtube"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-discord"
              viewBox="0 0 16 16"
            >
              <path
                d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612"
              />
            </svg>
          </div>
        </div>
        <div class="footer-member-editer">
          <div class="footer-member">
            <ul>
              <li>Compony</li>
              <li>About</li>
              <li>Blog</li>
              <li>Leadership</li>
              <li>Careers</li>
              <li>Legal</li>
            </ul>
          </div>
          <div class="footer-member">
            <ul>
              <li>Products</li>
              <li>API</li>
              <li>Pricing</li>
              <li>Documentation</li>
              <li>Release Notes</li>
            </ul>
          </div>
          <div class="footer-member">
            <ul>
              <li>Contect</li>
              <li>Support</li>
              <li>Sales</li>
              <li>Report Abouse</li>
              <li>System status</li>
            </ul>
          </div>
        </div>
      </div>
      <div
        style="color: rgb(122, 138, 155); text-align: center; padding: 20px 0"
      >
        Copyright @ 2024 | PATEL DHYEY
      </div>
    </footer>
    <script src="/web_pages/web_page2/web_page_2.js"></script>
  </body>
</html>
