<table class="table table-striped text-center table-bordered border-5">
  <tr>
    <th>task</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>Table</td>
    <td>
      <a
        href="/task/dynamic-table
            "
        >Dynamic-Table</a
      >
    </td>
  </tr>
  <tr>
    <td>Sorting</td>
    <td>
      <a
        href="/task/sorting
            "
        >Sorting</a
      >
    </td>
  </tr>
  <tr>
    <td>Event</td>
    <td>
      <a
        href="/task/event
            "
        >Events</a
      >
    </td>
  </tr>
  <tr>
    <td>Tic tac toi</td>
    <td>
      <a
        href="/task/tic-tac-toe
            "
        >Tic-tac-toe</a
      >
    </td>
  </tr>
  <tr>
    <td>Cucu-cube</td>
    <td>
      <a
        href="/task/cucu-cube
            "
        >Cucu-cube</a
      >
    </td>
  </tr>
  <tr>
    <td>databse_name</td>
    <td>
      <a
        href="/database-name
            "
        >Database</a
      >
    </td>
  </tr>
  <tr>
    <td>Normal Search</td>
    <td>
      <a
        href="/normal-search
            "
        >Normal Search</a
      >
    </td>
  </tr>
  <tr>
    <td>Delimiter Search</td>
    <td>
      <a href="/delimiter-search">Delimiter Search</a>
    </td>
  </tr>
  <tr>
    <td rowspan="2">Student</td>
    <td>
      <a href="/Student">Student Attendance</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="/Student/result">Student Result</a>
    </td>
  </tr>
  <tr>
    <td>Order By</td>
    <td>
      <a
        href="/order
            "
        >Order By</a
      >
    </td>
  </tr>
  <tr>
    <td>Job Application Form</td>
    <td>
      <a
        href="/job-application
            "
        >Job Application Form</a
      >
    </td>
  </tr>
  <tr>
    <td>AJAX Job Application Form</td>
    <td>
      <a
        href="/ajax-job-application
            "
        >Ajax Job Application Form</a
      >
    </td>
  </tr>
  <tr>
    <td>Api search</td>
    <td>
      <a
        href="/api-search
            "
        >Api</a
      >
    </td>
  </tr>
  <tr>
    <td rowspan="3">Web PAGES</td>
    <td>
      <a
        href="/web-pages/1
            "
        >Web page-1</a
      >
    </td>
  </tr>
  <tr>
    <td>
      <a
        href="/web-pages/2
            "
        >Web page-2</a
      >
    </td>
  </tr>
  <tr>
    <td>
      <a
        href="/web-pages/3
            "
        >Web page-3</a
      >
    </td>
  </tr>
</table>
