<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include("./nav.ejs")%>
    <div class="fs-1 d-flex justify-content-center text-center">Home</div>
    <div class="m-5">
      <div class="container overflow-hidden text-center">
        <div class="grid gap-3">
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/task/dynamic-table">Dynamic-Table</a>
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/task/sorting">Sorting</a>
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/task/event">Events</a>
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/task/tic-tac-toe" target="_blank"
              >Tic-tac-toe</a
            >
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/task/cucu-cube" target="_blank"
              >Cucu-cube</a
            >
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/database-name">Database</a>
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/normal-search">Normal Search</a>
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/delimiter-search">Delimiter Search</a>
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/order">Order By</a>
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/Student">Student Attendance</a>
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/Student/result">Student Result</a>
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/api-search">Api</a>
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/job-application">Job Application Form</a>
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/ajax-job-application"
              >Ajax Job Application Form</a
            >
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/ajax-job-application/all"
              >All Data-Job Application Form</a
            >
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/web-pages/1" target="_blank"
              >Web page-1</a
            >
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/web-pages/2" target="_blank"
              >Web page-2</a
            >
          </div>
          <div class="btn btn-outline-dark p-3 g-col-4 m-1" style="width: 30%">
            <a class="nav-link" href="/web-pages/3" target="_blank"
              >Web page-3</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
