<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .center {
        margin: 50px AUTO;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <%- include('../nav.ejs'); %>
    <form class="center" method="post" action="/order">
      <label for="sql"></label>
      <input type="text" name="sql" placeholder="sql" id="sql" />
      <input type="submit" value="Submit" />
    </form>

    <% if(result == true) {%> <%- include('./table.ejs'); %> <%- total_data > 50
    && include('./pagination.ejs'); %> <%}%>
  </body>
</html>
