<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web page 3</title>
    <link rel="stylesheet" href="/web_pages/web_page3//Web_page_3.css" />
  </head>
  <body>
    <header>
      <nav class="content-center">
        <img
          src="/web_pages/web_page3/HireX_black.png"
          alt="logo"
          height="30"
        />
        <div class="nav-div">
          <ul class="d-flex">
            <li><a href="#work">Work</a></li>
            <li><a href="#about_us">About us</a></li>
            <li><a href="#Blogs">Blogs</a></li>
            <li><a href="#faqs">FAQs</a></li>
            <li><a href="#contect_us">Contect Us</a></li>
            <li>
              <a class="btn-nav" href="#we're_hiring"
                >We're hiring
                <img
                  src="/web_pages/web_page3/arrow-right.png"
                  alt="img"
                  height="10px"
                />
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="section" style="flex-wrap: wrap">
      <div class="home-con1">
        <h3 class="smallfont" style="padding: 10px 0">
          WELOCOME TO HIREX.
          <img src="/web_pages/web_page3/Star 1.png" alt="img" />
        </h3>
        <h1 style="padding: 20px 0" class="verybigfont">
          Award Winning Digital Agency.
        </h1>
        <p class="smallfont">
          Digital Agency offering unique solutions to create digital presence
          and increase your sales.
        </p>
        <div
          style="
            width: 472px;
            height: 50px;
            box-shadow: 0 7px black;
            margin: 10px 0;
          "
        >
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Your email address"
            style="width: 245px; height: 30px; padding: 10px; float: left"
          />
          <button class="home-btn">Request access</button>
        </div>
        <p
          style="
            background-color: wheat;
            width: 350px;
            padding: 12px 10px;
            margin: 30px 0;
          "
        >
          Open account and get 5 boxes
        </p>
      </div>
      <div class="home-con2">
        <div class="home-orange">
          <img
            src="/web_pages/web_page3/image 2 (Traced).png"
            alt="img"
            style="position: relative; top: 7px; right: -30px"
          />
          <p style="font-size: 40px">Web Design</p>
        </div>
        <div class="home-yellow">
          <img
            src="/web_pages/web_page3/image 6 (Traced).png"
            alt="img"
            style="position: relative; top: 7px; right: 45px"
            height="70px"
            width="70px"
          />
          <p style="font-size: 40px">Social Midia</p>
        </div>
        <div class="home-green">
          <p style="font-size: 40px">UX Design</p>
          <img
            src="/web_pages/web_page3/image 1 (Traced).png"
            alt="img"
            style="position: relative; top: -10px; left: 65px"
            height="100px"
            width="100px"
          />
        </div>
        <img
          src="/web_pages/web_page3/Group 6.png"
          alt="alt"
          style="position: relative; top: 250px; left: 320px"
          height="100px"
          width="100px"
        />
      </div>
    </section>

    <section class="section2">
      <marquee>
        <div class="d-flex">
          <div
            class="d-flex mediamfont"
            style="padding: 0 20px; margin-left: 10px"
          >
            <h3 style="width: 370px; padding: 30px 0">GET ACCESS NOW!</h3>
            <img
              src="/web_pages/web_page3/image-fBLQvAFN1-transformed 1.png"
              alt="img"
            />
            <img src="/web_pages/web_page3/Line 4.png" alt="img" width="5" />
          </div>
          <div
            class="d-flex mediamfont"
            style="padding: 0 20px; margin-left: 10px"
          >
            <h3 style="width: 370px; padding: 30px 0">GET ACCESS NOW!</h3>
            <img
              src="/web_pages/web_page3/image-fBLQvAFN1-transformed 1.png"
              alt="img"
            />
            <img src="/web_pages/web_page3/Line 4.png" alt="img" width="5" />
          </div>
          <div
            class="d-flex mediamfont"
            style="padding: 0 20px; margin-left: 10px"
          >
            <h3 style="width: 370px; padding: 30px 0">GET ACCESS NOW!</h3>
            <img
              src="/web_pages/web_page3/image-fBLQvAFN1-transformed 1.png"
              alt="img"
            />
            <img src="/web_pages/web_page3/Line 4.png" alt="img" width="5" />
          </div>
        </div>
      </marquee>
    </section>

    <section class="section">
      <div style="width: 100%">
        <div
          style="
            width: 400px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 20px auto;
          "
        >
          <h3
            class="border-radius text-align-center"
            style="
              width: 120px;
              height: 22px;
              padding: 2px;
              color: #ffffff;
              background-color: #fc7f3a;
            "
          >
            Services
          </h3>
          <h4 class="bigfont">How Hirex. Work</h4>
          <p class="text-align-center">
            The awesome people who makes all this possible
          </p>
        </div>
        <div class="card-section1">
          <div class="card1">
            <h4>START HERE</h4>
            <div style="height: 250px">
              <p class="text-align-center">Who we are & what we do</p>
              <img
                src="/web_pages/web_page3/Designer _Flatline 1.png"
                alt="img"
                height="200"
              />
            </div>
            <button style="background-color: #389b48">START HERE</button>
          </div>
          <div class="card1">
            <h4>CUSTOM DESIGN</h4>
            <div style="height: 250px">
              <p class="text-align-center">We'll design your projects</p>
              <img
                src="/web_pages/web_page3/Notifications_Flatline 1.png"
                alt="img"
                height="200"
              />
            </div>
            <button>START HERE</button>
          </div>
          <div class="card1">
            <h4>CONTACT US</h4>
            <div style="height: 250px">
              <p class="text-align-center">Drop us your message!</p>
              <img
                src="/web_pages/web_page3/Fortnite_Two Color 1.png"
                alt="img"
                height="200"
              />
            </div>
            <button style="background-color: #fc7f3a">START HERE</button>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div>
        <div
          style="
            width: 600px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 20px auto;
          "
        >
          <h3
            class="border-radius text-align-center"
            style="
              width: 120px;
              height: 22px;
              padding: 2px;
              color: #ffffff;
              background-color: #847eda;
            "
          >
            Works
          </h3>
          <h4 claas="bigfont">Find our latetest works</h4>
          <p>The awesome people who makes all this possible</p>
        </div>
        <div class="d-flex2">
          <div class="card-flex">
            <img src="/web_pages/web_page3/Rectangle 13.png" alt="img" />
            <div class="img-under-texts">
              <h5>Web Design</h5>
              <h4>Website Design For Digital Agency</h4>
              <p>Build a unique Website with HireX Template</p>
              <h6>
                Read more
                <img
                  src="/web_pages/web_page3/arrow-right-black.svg"
                  alt="img"
                  height="10"
                />
              </h6>
            </div>
          </div>
          <div class="card-flex" style="position: relative">
            <img src="/web_pages/web_page3/Rectangle 13-1.png" alt="img" />
            <div class="img-under-texts">
              <h5>3D Design</h5>
              <h4>Realistic 3d Model of Living Room</h4>
              <p>Build a unique Website with HireX Template</p>
              <h6>
                Read more
                <img
                  src="/web_pages/web_page3/arrow-right-black.svg"
                  alt="img"
                  height="10"
                />
              </h6>
            </div>
            <button
              style="
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: var(--smallfont);
                width: 200px;
                height: 53px;
                border-radius: 10px;
                background-color: #ffbb38;
              "
            >
              View all
              <img
                src="/web_pages/web_page3/arrow-right-black.svg"
                alt="img"
                height="15"
              />
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div>
        <div
          style="
            width: 600px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 20px auto;
          "
        >
          <h4 class="bigfont">Plans & Pricing</h4>
          <p>The awesome people who makes all this possible</p>
        </div>
        <div class="card-section2">
          <div class="card2">
            <h4>Free</h4>
            <p class="verysmallfont">
              <span class="verybigfont">$0/</span>month
            </p>
            <p>Start free while you learn more about our services</p>
            <hr width="300px" />
            <div class="padding20">
              <p>&#10004; Free forever get the basic essentials</p>
              <p>&#10004; Advanced security and performance</p>
              <p>&#10004; Unlimited unhosted sites</p>
              <p>&#10004; Live support</p>
            </div>
            <button>Get started</button>
          </div>
          <div class="card2">
            <h4>Basic</h4>
            <p class="verysmallfont">
              <span class="verybigfont">$19/</span>month
            </p>
            <p>Get powerful tools to make your business grow</p>
            <hr width="300px" />
            <div class="padding20">
              <p>&#10004; Free forever get the basic essentials</p>
              <p>&#10004; Advanced security and performance</p>
              <p>&#10004; Unlimited unhosted sites</p>
              <p>&#10004; Live support</p>
            </div>
            <button style="background-color: #fc7f3a">Get started</button>
          </div>
          <div class="card2">
            <h4>PRO</h4>
            <p class="verysmallfont">
              <span class="verybigfont">$0/</span>month
            </p>
            <p>Take your business to the next level with our tools</p>
            <hr width="300px" />
            <div class="padding20">
              <p>&#10004; Free forever get the basic essentials</p>
              <p>&#10004; Advanced security and performance</p>
              <p>&#10004; Unlimited unhosted sites</p>
              <p>&#10004; Live support</p>
            </div>
            <button style="background-color: green">Get started</button>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #64e379">
      <img
        id="leftArrow"
        src="/web_pages/web_page3/arrow-left-2.png"
        alt=""
        height="20"
        style="margin: auto 15px"
        onclick="clickleft()"
      />
      <div style="position: relative">
        <img
          src="/web_pages/web_page3/testimonials-img.png"
          alt="img"
          style="border-radius: 50% 50% 0 0; border: 2px solid black"
        />
        <button class="img-btn">
          @mase.place
          <div class="img-btn-arrow">
            <img src="/web_pages/web_page3/arrow_top-right.png" alt="img" />
          </div>
        </button>
      </div>
      <div style="padding: 0 0 0 50px; width: 650px">
        <h5 id="changetext1" class="bigfont">
          "We select to practice in Minerva since it is both useful, and our
          clients basically adore it! It has stood the test of time and
          proceeds"
        </h5>
        <p id="changetext2" style="font-size: 15px; padding-top: 20px">
          Abel Carden is a TikTok personality and lip-sync content creator who
          has built a fanbase of more than 3.2 million followers on the
          platform.
        </p>
      </div>
      <img
        id="rightArrow"
        src="/web_pages/web_page3/arrow-right-2.png"
        alt=""
        height="20"
        style="margin: auto 15px"
        onclick="clickright()"
      />
    </section>

    <section class="section">
      <div class="d-flex" style="flex-direction: column">
        <h3
          class="border-radius text-align-center"
          style="
            width: 120px;
            height: 22px;
            padding: 2px;
            color: #ffffff;
            background-color: #fc6868;
          "
        >
          Blogs
        </h3>
        <h2 class="verybigfont">Stay updated</h2>
        <div class="d-flex2" style="padding-top: 30px">
          <div class="card-flex">
            <img
              src="/web_pages/web_page3/Rectangle 19.png"
              alt="img"
              width="500"
            />
            <div class="img-under-texts">
              <h5>Web deisgn</h5>
              <h4>We Launch Minerva Template this Week!</h4>
              <p>Build a unique Website with HireX Template</p>
              <h6>
                Read more
                <img
                  src="/web_pages/web_page3/arrow-right-black.svg"
                  alt="img"
                  height="10"
                />
              </h6>
            </div>
          </div>
          <div class="card-flex">
            <img
              src="/web_pages/web_page3/Rectangle 20.png"
              alt="img"
              width="480"
            />
            <div class="img-under-texts">
              <h5>Web deisgn</h5>
              <h4>We Launch Minerva Template this Week!</h4>
              <p>Build a unique Website with HireX Template</p>
              <h6>
                Read more
                <img
                  src="/web_pages/web_page3/arrow-right-black.svg"
                  alt="img"
                  height="10"
                />
              </h6>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="section"
      style="
        background-color: #ffc80a;
        height: 250px;
        padding: 50px 0;
        width: auto;
      "
    >
      <div style="width: 550px">
        <h3 class="mediamfont" style="margin: 20px 0">
          Get our latests news & updates
        </h3>
        <input
          class="smallfont input-contect-text"
          type="text"
          placeholder="NAME"
        />
        <input
          class="smallfont input-contect-text"
          type="text"
          placeholder="EMAIL"
        />
        <h5 class="contect-text">
          SUBSCRIBE
          <img
            src="/web_pages/web_page3/arrow-right-black.svg"
            alt="img"
            style="float: right"
            width="40"
            height="28"
          />
        </h5>
      </div>
      <div style="width: 600px; padding: 100px 30px">
        <p style="font-size: 20px; margin: 10px 0">
          We select to practice in Minerva since it is both useful and
          commonsense, and our clients basically adore it
        </p>
        <h5
          class="smallfont border2px border-radius text-align-center"
          style="padding: 3px; width: 200px"
        >
          Book a Call
        </h5>
      </div>
    </section>

    <section class="section2">
      <marquee>
        <div class="d-flex">
          <div
            class="d-flex mediamfont"
            style="padding: 0 20px; margin-left: 10px"
          >
            <h3 style="width: 650px; padding: 30px 20px">
              THANK YOU FOR YOUR VISIT
            </h3>
            <img src="/web_pages/web_page3/Group 59.png" alt="img" />
          </div>
          <div
            class="d-flex mediamfont"
            style="padding: 0 20px; margin-left: 10px"
          >
            <h3 style="width: 650px; padding: 30px 20px">
              THANK YOU FOR YOUR VISIT
            </h3>
            <img
              src="/web_pages/web_page3/Line 4.png"
              alt="img"
              width="17"
              style="transform: rotate(90deg)"
            />
          </div>
          <div
            class="d-flex mediamfont"
            style="padding: 0 20px; margin-left: 10px"
          >
            <h3 style="width: 650px; padding: 30px 20px">
              THANK YOU FOR YOUR VISIT
            </h3>
            <img src="/web_pages/web_page3/Group 59.png" alt="img" />
          </div>
        </div>
      </marquee>
    </section>

    <footer style="display: flex; justify-content: center">
      <div>
        <img
          src="/web_pages/web_page3/HireX_black.png"
          alt="img"
          style="padding-bottom: 20px"
          height="50"
          width="100"
        />
        <hr style="width: 1000px" />
        <div style="margin: 30px 10px; display: flex">
          <div class="footer-lists">
            <ul>
              Products
              <li>Platform</li>
              <li>Store Overview</li>
              <li>Email Reports</li>
              <li>Portfolio</li>
            </ul>
          </div>
          <div class="footer-lists">
            <ul>
              Resources
              <li>Case Studies</li>
              <li>Product Guides</li>
              <li>Reports</li>
              <li>Blog</li>
              <li>FAQ</li>
            </ul>
          </div>
          <div class="footer-lists">
            <ul>
              Company
              <li>Careers</li>
              <li>Contact Sales</li>
              <li>Contact Support</li>
            </ul>
          </div>
          <div class="footer-lists">
            <ul>
              Partners
              <li>Partner With Us</li>
            </ul>
          </div>
        </div>
        <div>
          <div>
            Terms and Conditions Privacy Policy
            <p style="float: right">©HIREX, Inc. 2022</p>
          </div>
        </div>
      </div>
    </footer>
    <script>
      var count = 1;
      var text1 = document.getElementById("changetext1");
      var text2 = document.getElementById("changetext2");
      console.log(text1);
      var arr = [
        [
          '"We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"',
          "Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform. ",
        ],
        [
          '"2 We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"',
          "Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform. ",
        ],
        [
          '"3 We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"',
          "Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform. ",
        ],
        [
          '"4 We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"',
          "Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform. ",
        ],
        [
          '"5 We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"',
          "Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform. ",
        ],
      ];
      const clickright = () => {
        if (count == arr.length) {
          document.getElementById("rightArrow").src = "";
        } else {
          document.getElementById("leftArrow").src = "./arrow-left-2.png";
          text1.textContent = arr[count][0];
          text2.textContent = arr[count][1];
          count += 1;
        }
      };
      const clickleft = () => {
        if (count == 0) {
          document.getElementById("leftArrow").src = "";
        } else {
          count -= 1;
          document.getElementById("rightArrow").src = "./arrow-right-2.png";
          text1.textContent = arr[count][0];
          text2.textContent = arr[count][1];
        }
      };
    </script>
  </body>
</html>
